{% extends "layout.njk" %}

{% block content %}
    <div id="wrapper">
        <img src="https://pa1.narvii.com/6268/d0f73b96ead0693c656cd13f925778e9731f266a_hq.gif" alt="Gregui">
        <i>
            <h1>Victor D. Gregui</h1>
        </i>
        <h2>Futuro Desenvolvedor Front End</h2>
        <p>Trabalho atualmente em uma empresa de Comercio Exterior chamada
            <a href="https://www.servimex.com.br" target="_blank">SERVIMEX</a>
            e estudo na Universidade Paulista
            <a href="https://unip.br" target="_blank">UNIP</a>
            em Santos.</p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/Gregui-hub/" target="_blank">Github</a>
        <a href="https://twitter.com/TheTorvick/" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com/in/victor-vinicius-6b5719149/" target="_blank">Linkedin</a>
    </div>
{% endblock %}