<!DOCTYPE html>
<html>

    <head>
        <title>..:: Gregui Web page ::..</title>
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
        <link rel=" stylesheet" type=" text/css" href="/styles.css">
    </head>

    <body>
        <header>
            <div id="cabecalho" class="links">
                <a href="/">Sobre</a>
                <a href="/amigos" target="_blank">Amigos</a>
                <a href="/contato" target="_blank">Contato</a>
            </div>
        </header>

        {% block content %}{% endblock %}
    </body>

</html>